@import "tailwindcss";

:root {
  --background: #121212;
  --textColor: #ffffff;
  --mainFont: "Share Tech";
  --paraFont: "Montserrat";
}
body {
  background: #272727;
  background: radial-gradient(
    circle,
    rgba(39, 39, 39, 1) 0%,
    rgba(18, 18, 18, 1) 100%
  );
}

.mainFont {
  font-family: var(--mainFont);
}
.paraFont {
  font-family: var(--paraFont);
}
